# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# VS Code
.vscode/

# Bytecode and cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
.env/

# OS metadata
.DS_Store

# Local data and cache
*.db

#logs
logs/

#data/ directory
data/






