# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# VS Code
.vscode/

# API keys and secrets
.env

# Bytecode and cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS metadata
.DS_Store

# Local data and cache
data/cache/
*.db

# unnecessary csv files
data/artist_trend_scores_1year_full_us.csv
data/artist_trend_scores_1year.csv
data/artist_trend_scores_final.csv
data/spotify_rising_artists_2025_06_08.csv
data/spotify_rising_artists_2025_06_18.csv
